body,
h1,
h3,
button {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

body {
  background-color: #f0f2f5;
  color: #333;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-align: center;
}

.container {
  background: #ffffff;
  padding: 45px;
  border-radius: 15px;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
  max-width: 400px;
  border: 2px solid #000;
}

.titulo {
  font-family: "MedievalSharp", cursive;
  font-size: 2rem;
  color: black;
  margin-bottom: 20px;
}

.logo {
  width: 100%;
  height: auto;
  max-height: 300px;
  border-radius: 10px;
  margin-bottom: 20px;
}

.login-btn {
  font-family: "MedievalSharp", cursive;
  background-color: black;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 1rem;
  border-radius: 5px;
  cursor: pointer;
  transition: transform 0.3s ease, background-color 0.3s ease;
}

.login-btn:hover {
  background-color: black;
  transform: scale(1.1);
}

.login-btn:hover {
  background-color: black;
}

.register-btn {
  font-family: "MedievalSharp", cursive;
  background-color: black;
  color: white;
  border: none;
  padding: 2px 8px;
  font-size: 15px;
  border-radius: 5px;
  cursor: pointer;
  transition: transform 0.3s ease, background-color 0.3s ease;
}

.register-btn:hover {
  background-color: black;
  transform: scale(1.1);
}

.register-btn:hover {
  background-color: black;
}

.mensaje {
  font-family: "MedievalSharp", cursive;
  margin-top: 15px;
  font-size: 0.9rem;
  color: #555;
}

/* PAGINA REGISTRO.HTML */

.crearcuenta-btn {
  font-family: "MedievalSharp", cursive;
  background-color: black;
  color: white;
  border: none;
  padding: 5px 30px;
  font-size: 1rem;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 25px;
  transition: transform 0.3s ease, background-color 0.3s ease;
}

.crearcuenta-btn:hover {
  background-color: black;
  transform: scale(1.1);
}

.crearcuenta-btn:hover {
  background-color: black;
}

.container-registro {
  background-color: #fff;
  padding: 45px;
  border-radius: 8px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  width: 300px;
  border: 2px solid #000;
}

.container-registro input[type="text"],
.container-registro input[type="equipo"],
.container-registro input[type="inventario"] {
  font-family: "MedievalSharp", cursive;
  width: 100%;
  padding: 5px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.titulos-registro {
  font-family: "MedievalSharp", cursive;
  display: flex;
  text-align: left;
}

.titulo-reg {
  font-family: "MedievalSharp", cursive;
  font-size: 2rem;
  color: black;
  margin-bottom: 20px;
  text-align: left;
}

/* PAGINA REGISTRO.HTML */